* {
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
  }
  
  img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    justify-content: center;
  }
  
  section > p {
    max-width: 700px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  section {
    background-color: #B53838;
    color: white;
    padding-top: 20px
  }
  
  h1, h2 {
    background-color: #B53838;
    color: white;
  }
  
  h2 {
    padding-bottom: 20px;
    font-weight: 500
  }
  
  #img-caption {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 25px;
    color: #B53838
  }
  
  h3 {
    padding-top: 20px;
    padding-bottom: 20px
  }
  
  a {
    color: white
  }