* {
    font-family: tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }


  
  #tribute-info > p {
    line-height: 30px;
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  #tribute-info {
    background-color: #B53838;
    color: white;
    display: block;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
  }
  
  
  h1, h2 {
    background-color: #B53838;
    color: white;
    text-align: center;
  }
  
  
  h2 {
    padding-bottom: 20px;
    font-weight: 500
  }
  
  #img-caption {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 25px;
    color: #B53838;
    text-align: center;
  }
  
  
  h3 {
    padding-top: 20px;
    padding-bottom: 20px
  }
  
  a {
    color: white
  }